# API Authentication
API_BEARER_TOKEN=your-api-bearer-token

# App GraphQL Configuration
HTTP_ENDPOINT=https://your-graphql-endpoint/graphql
WS_ENDPOINT=wss://your-graphql-endpoint/graphql
TOKEN_ID=your-token-id
TOKEN_VALUE=your-token-value
ENV=development

# Uvicorn
HOT_RELOAD=false

# Logging
APP_LOG_LEVEL=INFO
